body {
 font-family: 'Inter', sans-serif;
 background-color: #f8f9fa; /* Gris muy claro */
}
/* Estilos base para el contenedor principal */
#cv-container {
 max-width: 1200px;
 margin: 0 auto;
 box-shadow: 0 10px 20px rgba(0,0,0,0.1);
}
/* Color principal personalizado para darle un toque profesional */
.color-primary {
 background-color: #0b2545; /* Azul Oscuro Profesional */
}
.text-primary {
 color: #0b2545;
}