/*DOCUMENTO CSS*/
* { margin: 0px;
    padding: 0px;}
    h2 {font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif sans-serif, serif;
    font-size: 32px;
    margin-bottom: 16px;
    line-height: 140%;}

     .cabecera { width: 80%;
                min-height: 1px;
                padding: 16px 0px;
                margin: 16px auto;
                text-align: center;
                font-size: 3em;
                color: blue;
                border: 1px solid rgb(162, 159, 195);
                border-radius: 16px;
                background: #1084b3;
                background: linear-gradient(180deg,rgba(16, 132, 179, 1) 0%, rgba(230, 250, 237, 1) 100%);}

     .principal{padding: 40px 0px; }

     .principal p {font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
                  font-size: 16px;
                  line-height: 150%;
                  padding-bottom: 16px;}

    .principal a { width: 250px;
                   display: block;
                   padding: 8px 0px;
                   text-align: center;
                   background-color: aquamarine;
                   font:  sans-serif;font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
                   color: rgb(1, 8, 14);
                   font-size: 24px;
                   text-decoration: none;
                   border-radius: 16px;}
            

     .contenido {width: 80%;
                 display: flex; 
                 margin: auto; }

      .contenido::after { content: "";
                          display: block ;
                          width: 40px;
                          height:  40px;
                          background-image:url(../IMG/envelope-open.svg) ;
                          background-repeat: no-repeat;
                          background-size: 60px;
                          position: relative;
                          top: 310px;
                          right: -40px;}  
                          
                      
                     
     .uno {padding-right: 16px;}           
                 
     .items  {width: 50%; }

     .items input {width: 100%;
                   padding: 8px 8px;
                   margin-bottom: 8px;
                   border-radius: 8px;
                   border: 1px solid black;}

      .items input::placeholder, textarea::placeholder { color: #71ab72; 
                                                        padding-left: 8px; }             
                       
     textarea{max-width: 100%;
              min-width: 100%;
              min-height: 120px;
              max-height: 120px;
              border-radius: 8px;
              border: 1px solid black;}
     

    .pie { text-align: center;
           padding: 32px 0px;
           margin-top: 64px;
           background-color: #3189e0;
           font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
           color: whitesmoke;}
